{% extends '@SyliusAdmin/layout.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.new_'~metadata.name) %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.create' %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{# {% form_theme form '@SyliusAdmin/Form/theme.html.twig' %} #}

{% block content %}
    {# {{ sylius_template_event([event_prefix, 'sylius.admin.create'], _context) }} #}
    
    {% set index_url = path(
        configuration.vars.index.route.name|default(configuration.getRouteName('index')),
        configuration.vars.index.route.parameters|default(configuration.vars.route.parameters|default({}))
    )
    %}

    {############ HEADER - BREADCRUMB ############}
    <div class="ui stackable two column grid">
    {# {% include "@SyliusAdmin/Layout/_flashes.html.twig" %} #}
        <div class="column">
            {% include configuration.vars.templates.header_title|default('@SyliusAdmin/Crud/Create/_headerTitle.html.twig') %}
            {% include configuration.vars.templates.breadcrumb|default('@SyliusAdmin/Crud/Create/_breadcrumb.html.twig') %}

            {{ sylius_template_event([event_prefix ~ '.header', 'sylius.admin.create.header'], {'metadata': metadata, 'resource': resource}) }}
        </div>
        <div class="middle aligned column">
            {% include configuration.vars.templates.toolbar|default('@SyliusAdmin/Crud/_toolbar.html.twig') ignore missing %}
        </div>
    </div>

    {############ BODY ############}
    <div class="ui segment">
        {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('create')), configuration.vars.route.parameters|default({})), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {% include '@SyliusAdmin/Crud/form_validation_errors_checker.html.twig' %}
        {% if configuration.vars.templates.form is defined %}
            {% include configuration.vars.templates.form %}
            {% if not form._token.isRendered %}
                {{ form_row(form._token) }}
            {% endif %}
        {% else %}
            {# {{ form_widget(form) }} #}
            <div class="ui form">
            {{ form_errors(form) }}
                <div class="two fields">
                    <div class="field">
                        <label>Start date</label>
                        <div class="ui calendar" id="rangestart">
                            <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ form_widget(form.startedAt) }}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>End date</label>
                        <div class="ui calendar" id="rangeend">
                            <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ form_widget(form.endedAt) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    {{ form_label(form.platform) }}
                    {{ form_widget(form.platform) }}
                </div>
                <div class="eight wide column">
                    {{ form_label(form.codeCrm, 'Code CRM') }}
                    {{ form_widget(form.codeCrm) }}
                </div>
                <div class="sixteen wide column">
                    {{ form_label(form.state, 'Status') }}
                    {{ form_widget(form.state) }}

                    <div class="ui toggle checkbox">
                        {{ form_widget(form.demo) }}
                        <label>Demo</label>
                    </div>
                </div>
                <div class="sixteen wide column">
                    {# {{ form_label(form.syliusOrder, 'Order Number') }}
                    {{ form_widget(form.syliusOrder) }} #}

{# {{ form_row(form.syliusOrder, {'remote_url': path('app_admin_ajax_order_by_name_phrase'), 'load_edit_url': '' }) }} #}

    <div class="required field">
        {{- form_label(form) -}}
        <div
            class="sylius-autocomplete ui fluid search selection dropdown"
            {# data-url="{{ remote_url }}"
            data-choice-name="{{ choice_name }}"
            data-choice-value="{{ choice_value }}"
            data-criteria-type="{{ remote_criteria_type }}"
            data-criteria-name="{{ remote_criteria_name }}"
            data-load-edit-url="{{ load_edit_url }}" #}

            data-url="/admin/order/search"
            data-choice-name="number"
            data-choice-value="id"
            {# data-criteria-type="{{ remote_criteria_type }}"
            data-criteria-name="{{ remote_criteria_name }}"
            data-load-edit-url="{{ load_edit_url }}" #}

        >
            {{- form_widget(form.syliusOrder, {'attr': {'class' : 'autocomplete'}}) -}}
            <i class="dropdown icon"></i>
            <div class="default text">{% if placeholder is defined %} {{ placeholder|trans }} {% endif %}</div>
            <div class="menu"></div>
        </div>
        {{- form_errors(form) -}}
    </div>

{# {{ dump (form_row(form.syliusOrder)) }} #}


                </div> 
                <div class="sixteen wide column">
                    {{ form_label(form.syliusProductVariant, 'Product Variant') }}
                    {{ form_widget(form.syliusProductVariant) }}
                </div>         
            </div>
            {# <div class="field">
                {{ form_widget(form.state) }}
            </diV> #}
        </div>
        {% endif %}

        {{ sylius_template_event([event_prefix ~ '.form', 'sylius.admin.create.form'], {'metadata': metadata, 'resource': resource, 'form': form}) }}

        {% include '@SyliusUi/Form/Buttons/_create.html.twig' with {'paths': {'cancel': index_url}} %}
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.stylesheets', 'sylius.admin.create.stylesheets'], { 'metadata': metadata }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    <script type="text/javascript">

    $('.ui.search.dropdown').dropdown();

        $(document).ready(function() {
            $('#rangestart').calendar({
                type: 'date',
                endCalendar: $('#rangeend'),
                formatter: {
                    date : 'YYYY-MM-DD'
                }
            });

            $('#rangeend').calendar({
                type: 'date',
                startCalendar: $('#rangestart'),
                formatter: {
                    date : 'YYYY-MM-DD'
                    
                },
            });
        });
    </script>
    {{ sylius_template_event([event_prefix ~ '.javascripts', 'sylius.admin.create.javascripts'], { 'metadata': metadata }) }}
{% endblock %}
