{% extends '@SyliusAdmin/layout.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.new_'~metadata.name) %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.create' %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{# {% form_theme form '@SyliusAdmin/Form/theme.html.twig' %} #}

{% block content %}
    {# {{ sylius_template_event([event_prefix, 'sylius.admin.create'], _context) }} #}
    
    {% set index_url = path(
        configuration.vars.index.route.name|default(configuration.getRouteName('index')),
        configuration.vars.index.route.parameters|default(configuration.vars.route.parameters|default({}))
    )
    %}

    {############ HEADER - BREADCRUMB ############}
    <div class="ui stackable two column grid">
    {# {% include "@SyliusAdmin/Layout/_flashes.html.twig" %} #}
        <div class="column">
            {% include configuration.vars.templates.header_title|default('@SyliusAdmin/Crud/Create/_headerTitle.html.twig') %}
            {% include configuration.vars.templates.breadcrumb|default('@SyliusAdmin/Crud/Create/_breadcrumb.html.twig') %}

            {{ sylius_template_event([event_prefix ~ '.header', 'sylius.admin.create.header'], {'metadata': metadata, 'resource': resource}) }}
        </div>
        <div class="middle aligned column">
            {% include configuration.vars.templates.toolbar|default('@SyliusAdmin/Crud/_toolbar.html.twig') ignore missing %}
        </div>
    </div>

    {############ BODY ############}
    <div class="ui segment">
        {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('create')), configuration.vars.route.parameters|default({})), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
        {% include '@SyliusAdmin/Crud/form_validation_errors_checker.html.twig' %}
        {% if configuration.vars.templates.form is defined %}
            {% include configuration.vars.templates.form %}
            {% if not form._token.isRendered %}
                {{ form_row(form._token) }}
            {% endif %}
        {% else %}
            {# {{ form_widget(form) }} #}
            <div class="ui form">

            {{ form_errors(form) }}
                <div class="field">
                    {{ form_label(form.syliusProductVariant, 'Product Variant') }}
                    <div class="ui fluid search selection dropdown">
                        <input type="hidden"  id="licence_syliusProductVariant" name="licence[syliusProductVariant]" class="noselection">
                        {# {{ form_widget(form.syliusProductVariant) }} #}
                        <div class="default text">{{ form_label(form.syliusProductVariant, 'Product Variant') }}</div>
                        <i class="dropdown icon"></i>
                        <div class="menu"></div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>Start date</label>
                        <div class="ui calendar" id="rangestart">
                            <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ form_widget(form.startedAt) }}
                            </div>
                        </div>
                    </div>
                    <div class="required field">
                        <label>End date</label>
                        <div class="ui calendar" id="rangeend">
                            <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ form_widget(form.endedAt) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="eight wide column required field">
                    {{ form_label(form.platform) }}
                    {{ form_widget(form.platform) }}
                </div>
                <div class="eight wide column">
                    {{ form_label(form.codeCrm, 'Code CRM') }}
                    {{ form_widget(form.codeCrm) }}
                </div>
                <div class="sixteen wide column required field">
                    {{ form_label(form.state, 'Status') }}
                    {{ form_widget(form.state) }}

                    <div class="ui toggle checkbox">
                        {{ form_widget(form.demo) }}
                        <label>Demo</label>
                    </div>
                </div>
                <div class="sixteen wide column">
                    {{ form_label(form.syliusOrder, 'Order Number') }}
                    {{ form_widget(form.syliusOrder) }}
                </div> 
                <div class="sixteen wide column">
                    {# {{ form_label(form.syliusProductVariant, 'Product Variant') }}
                    {{ form_widget(form.syliusProductVariant) }} #}





                </div>         
            </div>
            {# <div class="field">
                {{ form_widget(form.state) }}
            </diV> #}
        </div>
        {% endif %}
        {{ sylius_template_event([event_prefix ~ '.form', 'sylius.admin.create.form'], {'metadata': metadata, 'resource': resource, 'form': form}) }}

        {% include '@SyliusUi/Form/Buttons/_create.html.twig' with {'paths': {'cancel': index_url}} %}
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sylius_template_event([event_prefix ~ '.stylesheets', 'sylius.admin.create.stylesheets'], { 'metadata': metadata }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            // SI CHANGEMENT DE DATE DEPUIS CALENDAR DATE DEBUT
            var startedAtOnChange;

            $('#rangestart').calendar({
                {% if app.request.attributes.get('_controller') == 'App\\Controller\\LicenceController::create' %}
                initialDate: new Date(),
                {% endif %}
                type: 'date',
                endCalendar: $('#rangeend'),
                formatter: {
                    date : 'YYYY-MM-DD'
                },
                onChange: function(value, text, $selectedItem) {
                    // Stocker la date sélectionnée dans la variable $dateDateDeb
                    startedAtOnChange = value;
                    console.log('startedAtOnChange = ' + startedAtOnChange )
                }

            });

            $('#rangeend').calendar({
                type: 'date',
                startCalendar: $('#rangestart'),
                formatter: {
                    date : 'YYYY-MM-DD'
                },
                

                
            });

            // Récupérer la date pré-remplie depuis #rangestart (DATE DEBUT)
            var initialStartDate = $('#rangestart').calendar('get date', true);
                   
            // SEMANTIC UI - SELECT DROPDOWN
            $('.ui.search.dropdown').dropdown({
                apiSettings: {
                    url: '/admin/order/search?phrase={query}'
                },
                filterRemoteData: false,
                maxSelections: 5,
                action : 'activate',
                onChange: function(value, name, text, $selectedItem) {
                    // récupération de la partie numérique et l'unité du texte
                    var match = name.match(/(\d+)\s*(\w+)/);
                    //si date existe
                    if (match) {
                        var numericPart = match[1];
                        var unit = match[2];
                        //console.log(numericPart);
                        //console.log(unit);
                        
                        // Utilise la date pré-remplie s'il y en a une, sinon récupére la date #rangestart (DATE DEBUT)
                        var startDate = startedAtOnChange || initialStartDate;
                        //console.log('startedAtOnChange = ' + startedAtOnChange)
                        //console.log('initialStartDate = ' + initialStartDate)

                        // Utiliser la date stockée dans $dateDateDeb si elle est définie
                        var newDate = calculateNewDate(parseInt(numericPart), unit, startDate)

                        // Formater la nouvelle date comme 'YYYY-MM-DD'
                        var formattedDate = formatDate(newDate);

                        // Mis à jour la date de fin
                        $('.ui.calendar').calendar('set endDate', formattedDate);
                    } else {
                        console.error('Invalid duration format:', name);
                    }
                },

            });

            // CALCUL DE LA DATE DE FIN A PARTIR DE LA DATE D'AUJOURD'HUI
            function calculateNewDate(value, unit, startDate) {
                var currentDate = new Date(startDate);
                
                switch (unit) {
                    case 'days':
                        currentDate.setDate(currentDate.getDate() + value);
                        break;
                    case 'months':
                        currentDate.setMonth(currentDate.getMonth() + value);
                        break;
                    case 'years':
                        currentDate.setFullYear(currentDate.getFullYear() + value);
                }

                return currentDate;
            }

            // FORMATAGE POUR OBTENIR 'YYYY-MM-DD'
            function formatDate(date) {
                var year = date.getFullYear();
                var month = ('0' + (date.getMonth() + 1)).slice(-2);
                var day = ('0' + date.getDate()).slice(-2);

                return year + '-' + month + '-' + day;
            }

        });
    </script>
    {{ sylius_template_event([event_prefix ~ '.javascripts', 'sylius.admin.create.javascripts'], { 'metadata': metadata }) }}
{% endblock %}
